@use './index.scss' as *;

.dashboard {
  margin-top: $header-height;
  margin-left: $sidebar-width;
  padding: 20px;
  height: calc(100vh - $header-height);
  overflow-y: auto;
  &__user {
    color: $primary-color;
  }
}

.charts-wrapper {
  margin-top: 2rem;
}
