@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sidebar-width: 100px;
$header-height: 60px;

$primary-color: #e60000;
$black: #020203;

body html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.root {
  display: flex;
  height: 100vh;
}
