@use './index' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  color: white;
  padding-top: $header-height;
  overflow: auto;
  & > .nav {
    padding-top: 10rem;
  }
}

.copyright {
  writing-mode: sideways-lr;

  margin-top: auto;
  padding: 1rem 0;
}
